<!--
 @author Parth Shah
 @studentID 301171805
 @date October 7, 2021
 @description Personal Portfolio website - Authentication 
-->

<div class="font-weight-bolder">
    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.status %>
    </h2>
    <pre><%= error.stack %></pre>
</div>