<!--
 @author Parth Shah
 @studentID 301171805
 @date September 27, 2021
 @description Personal Portfolio website -->


    <!-- MAIN CONTENT -->
    <div class="container p-5 font-weight-bolder " data-aos="zoom-in-down">
        <h2 class="display-5">
            About Me
        </h2>
        <div class="row mt-3">
            <div class="col-md-3">
                <img src="../images/parth.jpg" class="imgHeight">
            </div>
            <div class="col-md-9" style="padding-left: 50px;">
                <!--Title-->
                <p>Hello, I’m Parth Shah!</p>
                <!--About me information-->
                <p>Team player with strong communication skills and Bachelor’s degree in Computer Engineering. Seeking
                    to leverage on
                    model development experience and strong understanding of research design and hypothesis testing as a
                    Data Scientist.
                    Coming with programming skills and ability to analyze complex data. I love to keep myself busy in
                    gaining new skills
                    and doing freelancing projects on the weekends.</p>
                <h3 class="display-7">Fun Fact</h3>
                <p>If you catch me outside of work, I'm an adventurous traveler.</p>
                <h3 class="display-7">My Resume</h3>
                <p><a class="btn btn-info" href="CV.pdf" role="button">Click here</a> to view my resume.</p>
            </div>
        </div>

    </div>

    