<div class="container my-5 py-5 text-white text-center" data-aos="zoom-in-up">
    
    <div class="jumbotron">
      <h1 class="display-5">Welcome to My Portfolio!</h1>
      
      <p class="lead">
        I'm a Data Science Practitioner who loves to uncover the hidden facts and meaningful insights from messy data. I am working towards a role where I can engage with a group of like-minded people who dream to bring revolution in the world with data.
      </p>
      <p>"I want to help others to make the right decisions, data-driven decisions"</p>
      <p class="lead">
        <a class="btn btn btn-light btn-lg" href="/about" role="button">About me</a>
        <a class="btn btn btn-dark btn-lg" href="/contact" role="button">Contact me</a>
      </p>
    </div>
</div> 