<!--
 @author Parth Shah
 @studentID 301171805
 @date October 7, 2021
 @description Personal Portfolio website - Authentication 
-->

    <!-- MAIN CONTENT -->
    <div class="container p-5 mt-2 mb-5  transparent" data-aos="zoom-in-down">
        <!--Title-->
        <h1 class="display-5">Services</h1>
        <!--Services-->
        <p>I am experienced in machine learning, supervised and unsupervised algorithms and use data visualization
            techniques to present the results. I use SQL, Python, PowerBI and Tableau for my data projects.</p>
        <p>
            &nbsp;
        </p>
        <div class="row">
            <div class="col-md-3">
                <img src="../images/services/Data Analytics.png" class="imgHeight">
            </div>
            <div class="col-md-9">
                <!--Service name-->
                <h2 class="display-7">Data analytics</h2>
                <!--Description-->
                <p>Get more value from your data with prediction models and machine learning techniques,
                    for example by predicting behavior or targeting the right customer</p>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/Business-dashboard.png" class="imgHeight">
            </div>
            <div class="col-md-9 mt-5">
                <!--Service name-->
                <h2 class="display-7">Dashboards</h2>
                <!--Description-->
                <p>Present your data in an inspiring way by using an dashboard rather than a piece of text. I create
                    dashboards which can be used internally or publicly.</p>
            </div>


        </div>
    </div>

